extends layout 

block append stylesheets 
    link(rel='stylesheet' href='public/stylesheets/error.css')

block content
    main(class='container')
        div(class='error-container')
            h1(class='status-code')= statusCode 
            h1(class='message')= message