extends layout 

append stylesheets 
    link(rel='stylesheet' href='public/stylesheets/home.css')

block content   
    main(class='container')
        h1 Welcome
        p An introduction to Node.js for programmers new to server-side development.
        a(class='start-learning' href='learn') Start Learning