doctype html 
html(lang='en')
    head 
        title= title 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='public/stylesheets/layout.css')
    body
        div(class='wrapper')
            header(class='site-header')
                nav(class='nav-bar')
                    a(class='logo' href='/') new#[span(class='logo-2') 2]node
                    ul(class='nav-list')
                        li(class='nav-item')
                            a(class='nav-link' href='/') Learn
                        li(class='nav-item')
                            a(class='nav-link' href='/') Resources
                        li(class='nav-item')
                            a(class='nav-link' href='/') References
                        li(class='nav-item')
                            a(class='nav-link' href='/') Source
                        li(class='nav-item')
                            a(class='nav-link' href='/') Author
            div(class='content')
            footer(class='site-footer')
