doctype html 
html(lang='en')
    head 
        title= title 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block scripts 
        block stylesheets
        link(rel='stylesheet' href='public/stylesheets/layout.css')
    body
        div(class='wrapper')
            header(class='site-header')
                nav(class='nav-bar')
                    a(class='logo' href='/') new#[span(class='logo-2') 2]node
                    ul(class='nav-list')
                        li(class='nav-item')
                            a(class='nav-link' href='/learn') Learn
                        li(class='nav-item')
                            a(class='nav-link' href='/test') Resources
                        li(class='nav-item')
                            a(class='nav-link' href='/references') References
                        li(class='nav-item')
                            a(class='nav-link' href='/source') Source
                        li(class='nav-item')
                            a(class='nav-link' href='/author') Author
            div(class='content')
                block content
            footer(class='site-footer')
