extends layout 

append stylesheets 
    link(rel='stylesheet' href='public/stylesheets/references.css')

block content 
    main(class='main-container')
        h1(class='page-title') References 
        p(class='description') This page is meant to give credit to the many sources listed below, for providing much of the information and ideas used in the lessons on this website. For the sources which list an author, either by real name or account username, that name is shown just before the link. For convenience, citations are organized by topic, though that does not imply that that is the #[em only] topic that they were used for to inform material in our lessons. If you believe that any of these citations are missing details, or that a source which deserves credit has not been listed, please contact us.
        h2(class='material-type') Path Traversal
        ul(class='citation-list')
            li(class='citation-item')
