extends layout

append scripts  
    script(src='public/javascripts/test.js')

append stylesheets 
    link(rel='stylesheet' href='public/stylesheets/test.css')

block content 
    button(id='change') Change
    img(src='public/images/testing.jpeg')