@font-face {
    font-family: 'alluraregular';
    src: url('../fonts/allura/allura-regular-webfont.woff2') format('woff2'),
         url('../fonts/allura/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansbold';
    src: url('../fonts/webfontkit-droid-sans/droidsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-droid-sans/droidsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid_sansregular';
    src: url('../fonts/webfontkit-droid-sans/droidsans-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-droid-sans/droidsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    block-size: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
}

.content {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    background-color: #1d1d1d;
}

.site-header {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 90px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #171717;
    border-bottom-style: solid;
    border-bottom-color: #8a8a8a;
    border-bottom-width: 1px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.logo-2 {
    font-size: 70px;
    color: #5ee05c;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    inline-size: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-link {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s linear;
}

.nav-link:hover {
    -webkit-transform: scale(1.10);
    color: #5ee05c;
}